<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>csv</title>
</head>

<body>
    {{dict1 | safe}}
    <!-- <table>
        <thead>
            <tr>
                <th>Phrase</th>
                <th>Search Volume</th>
                <th>Asin1</th>
                <th>Asin2</th>
                <th>Asin3</th>
                <th>Asin4</th>
                <th>Asin5</th>
                <th>Asin6</th>
                <th>Asin7</th>
                <th>Asin8</th>
                <th>Asin9</th>
                <th>Asin10</th>
            </tr>
        </thead>
        <tbody>
            {% for i in dict1 %}
            <tr>
                <td>{{i.Phrase}}</td>
                <td>{{i.Search_Volume}}</td>
                <td>{{i.B081ZJZ1LL}}</td>
                <td>{{i.B07NCPNP13}}</td>
                <td>{{i.B07W3WHPX1}}</td>
                <td>{{i.B06Y2XGSDQ}}</td>
                <td>{{i.B08NB281J5}}</td>
                <td>{{i.B08DYGV9Q6}}</td>
                <td>{{i.B086SDDFDT}}</td>
                <td>{{i.B088FN4CWD}}</td>
                <td>{{i.B009CE8106}}</td>
                <td>{{i.B078836Z17}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table> -->
</body>

</html>