{% extends 'base/base.html' %}{% load static %}{% block title %}Add Company{% endblock %} {% block stylesheets %}{% endblock %} {% block container %}
<form method="post">

    {% csrf_token %}
    <!-- Company form -->
    {% for i in company_form %} {{i.help_text}} :<br> {% if i.name == 'registered_address' or i.name == 'trading_address' or i.name == 'director1_address' or i.name == 'director2_address' %} {{i}}
    <a class="btn" onclick="document.querySelector('#address').style.display='block'">+ Add Address</a> <br> {% else %} {{i}} <br>{% endif %}
    <br> {% endfor %}
    <input type="submit" value="Add Company">
</form>

<div class="modal" id="address" style="display: none;">

    <div class="modal-content">

        <div class="modal-header">
            <div class="modal-title" id="my_setting-label">Address
                <button onclick="document.querySelector('#address').style.display='none'">X</button>
            </div>
        </div>

        <div class="modal-body">
            <form method="post" id="address_form">
                {% csrf_token %} {% for i in address_form %} {{i.help_text}} :<br> {{i}} <br>{% endfor %}
                <input type="submit" value="Add Address">
            </form>
        </div>

    </div>

</div>

{% endblock %} {% block javascripts %}
<script src="{% static 'js/business_admin.js' %}"></script>
{% endblock %}